<!doctype html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Impronta Digitale - Domanda 1</title>
</head>
<body class="sfondo1">
  <header class="header1">
    <div class="header__text">
      <h1>Calcola la tua Impronta Digitale!</h1>
    </div>
  </header>
  <main>
    <h2 class="main__title">Quanti messaggi/audio invii al giorno?</h2>
    <ul class="list">
      <li class="list__item"><a href="/12"><span>Meno di 25</span></a></li>
      <li class="list__item"><a href="/37"><span>25 - 50</span></a></li>
      <li class="list__item"><a href="/75"><span>50 - 100</span></a></li>
      <li class="list__item"><a href="/150"><span>Più di 100</span></a></li>
    </ul>
  </main>
</body>
</html>